.main
{
    position: relative;
}
.main .suc{
	text-align: center;
	padding: 0.84rem 1.44rem 0.42rem;
	background-color: #ffe2de;
	line-height: 1;
	position: relative;
}
.main .suc h2{
	font-size: .34rem;
	color: #ff5f20;
	letter-spacing: 4px;
	font-weight: bold;
	margin-bottom: .12rem;
}
.main .suc .des{
	font-size: .18rem;
	color: #333;
	line-height: 0.26rem;
	margin-bottom: .3rem;
	letter-spacing: 2px;
}
.main .suc .icon{
	position: absolute;
	left: 1.5rem;
	top: 2.06rem;
}
.main .suc .icon img{
	width: 0.88rem;
	height: 0.88rem;
}
.main .suc .tel{
	font-size: .2rem;
	color: #333;
	margin-bottom: .12rem;
	letter-spacing: 2px;
}
.main .suc .num{
	font-size: .48rem;
	color: #ff5f20;
	font-weight: bold;
}
.bottom_bg{
	background-color: #faf5f0;
	padding: 0 0.6rem 0.35rem;
}
.bottom_bg img{
	width: 6.13rem;
	height: 1.39rem;
}

.main .bgimg
{
    width: 100%;
    position: relative;
}
.main .bgimg img
{
    width: 100%;
}
.main .infodiv
{
    position: absolute;
    z-index: 2;
    bottom: 0.32rem;
    left: 0.64rem;
    right: 0.64rem;
    padding: 0 0.3rem;
    height: 4rem;
    
    background-size: 100%;
}
.main .infodiv .tit{
	font-size: .42rem;
}
.main .infodiv .tit img{
	width: .37rem;
	display: inline;
}
.main .infodiv h2
{
    font-size: 0.36rem;
    line-height: 0.38rem;
    display: block;
    text-align: center;
    color: #fd4302;
    background: url('../images/form_tit_bg.png') no-repeat;
    background-size: 100%;
    margin-bottom: 0.32rem;
}
.main .infodiv input[type=text]
{
    width: 100%;
    height: 0.32rem;
    padding: 0.2rem 0 0.2rem 0;
    margin: 0 0 0.3rem 0;
    border-radius: 0.38rem;
    border: 2px solid #f15922;
    text-indent: 0.32rem;
    font-family: Microsoft yahei;
    line-height: 0.32rem;
    font-size: 0.3rem;
    color: #fd4302;
    letter-spacing: 2px;
}
.main .infodiv input.name
{
    /*background: url(../images/name_inbg.png) 0.16rem center no-repeat #ffffff;*/
    background-size: 0.34rem;
}
.main .infodiv input.phone
{
    /*background: url(../images/phone_inbg.png) 0.16rem center no-repeat #ffffff;*/
    background-size: 0.34rem;
}
.main .infodiv input[type=button]
{
    background-color: #fe5c01;
    color: #ffffff;
    font-size: 0.36rem;
    width: 100%;
    height: 0.8rem;
    border-radius: 0.4rem;
    border: none;
    letter-spacing: 2px;
    box-shadow: 2px 4px 10px #ff9b63;
    margin-bottom: 0.75rem;
}
.main .part1-tit{
	font-size: .4rem;
	text-align: center;
	line-height: 1.2rem;
	background: url(../images/tit_bg.png) no-repeat;
	background-size: 100%;
}
.main .part2-tit{
	font-size: .36rem;
	text-align: center;
	line-height: .5rem;
	background: url(../images/tit_bg2.png) no-repeat;
	background-size: 100%;
	padding: .3rem 0;
}
.main .tit4{
	font-size: .24rem;
	color: #fe5501;
	text-align: center;
	background: url(../images/tit.png) no-repeat center;
	background-size: 6.89rem;
	margin: .5rem 0;
}
.main .part1
{
    width: 100%;
    height: 4.8rem;
    background: url(../images/part1_bg.png) no-repeat;
    background-size: 100%;
}
.main .part1 ul
{
    width: 100%;
    position: relative;
}
.main .part1 ul li
{
    float: left;
    width: 50%;
    color: #666;
    font-size: 0.28rem;
    line-height: 0.48rem;
    letter-spacing: 0.02rem;
    position: absolute;
}
.main .part1 ul li span{
	font-size: .32rem;
	color: #fd4802;
}
.main .part1 ul li.li1
{
	left: .2rem;
	top: .4rem;
    background: url(../images/youdian1.png) center top no-repeat;
    background-size: 2rem;
}
.main .part1 ul li.li2
{
	left: 3.65rem;
	top: .4rem;
    background: url(../images/youdian2.png) center top no-repeat;
    background-size: 2rem;
}
.main .part1 ul li.li3
{
	left: .2rem;
	top: 2.76rem;
    background: url(../images/youdian3.png) center top no-repeat;
    background-size: 2rem;
}
.main .part1 ul li.li4{
	left: 3.65rem;
	top: 2.76rem;
}
.main .part1 ul li b
{
    color: #ff5c00;
}
.main .part2
{
    width: 100%;
    height: 2.98rem;
    background: url(../images/part2_bg.png) no-repeat;
    background-size: 100%;
}
.main .part2 ul
{
    width: 100%;
}
.main .part2 ul li
{
    float: left;
    width: 33.33%;
    padding: 1.7rem 0 0.2rem 0;
    color: #666;
    font-size: 0.25rem;
    text-align: center;
    line-height: 0.48rem;
    letter-spacing: 0.02rem;
}
.main .part2 ul li b{
	font-size: .32rem;
	
	font-weight: normal;
}
.main .part2 ul li b span{
	color: #fd4802;
}
.main .part2 ul li.li1
{
    
    background: url(../images/shihe1.jpg) center top no-repeat;
    background-size: 1.36rem;
}
.main .part2 ul li.li2
{
    
    background: url(../images/shihe2.jpg) center top no-repeat;
    background-size: 1.36rem;
}
.main .part2 ul li.li3
{
    
    background: url(../images/shihe3.jpg) center top no-repeat;
    background-size: 1.36rem;
}
.main .part2 ul li b
{
    display:block;
    font-size:0.3rem;
    line-height: 0.54rem;
}
.main .part3{
	text-align: center;
	height: 2.7rem;
	background: url(../images/part3_bg.png) no-repeat;
	background-size: 100%;
}
.main .part3 img{
	width: 6.58rem;
	margin: .5rem auto .28rem;
}
.main .part3 li{
	float: left;
	width: 25%;
	font-size: .24rem;
	line-height: .36rem;
	color: #666;
	padding-top: 1.44rem;
}
/*文本框报错样式*/
.main .infodiv input.name.error
{
    background: url(../images/name_inbg_err.png) 0.16rem center no-repeat #ffffff;
    background-size: 0.34rem;
    color:#ff0000;
}
.main .infodiv input.phone.error
{
    background: url(../images/phone_inbg_err.png) 0.16rem center no-repeat #ffffff;
    background-size: 0.34rem;
    color:#ff0000;
}
.puhui-tips {
    width: 100%;
    padding: 0.1rem 0.3rem;
    box-sizing: border-box;
}
.puhui-tips p {
    font-size: 0.15rem;
    color: #acacac;
    line-height: 1.5;
}